---
---
<section class="hashtag-section animate-on-scroll fade-up">
    <div class="container text-center">
        <div class="hashtag-icon-wrapper">
            <svg class="hashtag-icon" viewBox="0 0 64 64">
                <path d="M20 18 L16 46 M44 18 L40 46" stroke-linecap="round"/>
                <path d="M10 28 L50 28 M8 38 L48 38" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="hashtags-container">
            <p class="hashtag-text">#BodaManuelYAndrea2026</p>
            <p class="hashtag-text">#SíAceptoManuelYAndrea</p>
            <p class="hashtag-text">#ManuelYAndrea2026</p>
        </div>
    </div>
</section>
