---
import Layout from '../layouts/Layout.astro';
import MusicButton from '../components/MusicButton.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import DateSection from '../components/DateSection.astro';
import NombresSection from '../components/NombresSection.astro';
import FraseSection from '../components/FraseSection.astro';
import Countdown from '../components/Countdown.astro';
import Ceremony from '../components/Ceremony.astro';
import ImageSection from '../components/ImageSection.astro';
import DressCode from '../components/DressCode.astro';
import HashtagSection from '../components/HashtagSection.astro';
import FavoritasSection from '../components/FavoritasSection.astro';
import VideoSection from '../components/VideoSection.astro';
import RSVP from '../components/RSVP.astro';
import Gallery from '../components/Gallery.astro';
import CompartirSection from '../components/CompartirSection.astro';
import Footer from '../components/Footer.astro';
import ScrollAnimations from '../components/ScrollAnimations.astro';
---

<Layout>
    <MusicButton />
    <Navbar />
    
    <main>
        <Hero />
        <DateSection />
        <NombresSection />
        <FraseSection />
        <Countdown />
        <Ceremony />
        <ImageSection />
        <DressCode />
        <HashtagSection />
        <FavoritasSection />
        <VideoSection />
        <RSVP />
        <Gallery />
        <CompartirSection />
    </main>
    
    <Footer />
    
    <ScrollAnimations />
</Layout>
